.Card {
  height: 100%;
  width: 200px;
  white-space: nowrap;
  text-overflow: unset;
}
.Card img {
  width: 150px;
  margin: 0 auto;
}

.Title {
  white-space: pre-wrap;
}

.Card:hover + .Title {
  color: royalblue;
}
